{% extends 'index.html' %}
{% load static%} 

{% block title %} ambiente {% endblock %} 
{% block presentacion %} <div class="content">
    <header>
        <h1>Medio Ambiente</h1>
    </header>
    
    
</div>{% endblock %}
{% block partials %} <article>
    <div class="content">
        <p>Cada acción tiene su consecuencia y somos los responsables del mundo que vamos a dejar a las futuras generaciones, quiero aportar mi granito de arena brindando información orientada al medio ambiente, noticias ambientales,  tips y consejos, como empezar una huerta,difusión de ONGs y proyectos.</p>
    
    
    </div>
</article> {% endblock %}


{% block title-heading %} Últimos posts{% endblock %} 
