{% extends 'index.html' %}
{% load static%} 

{% block title %} Python {% endblock %} 
{% block presentacion %} <div class="content">
    <header>
        <h1>Python Blog</h1>
    </header>
    
    
</div>{% endblock %}
{% block partials %} <article>
    <div class="content">
       
        <p>Este lenguaje tan hermoso merece su propia sección, la idea es enfocarse en los puntos imortantes de python, como empezar, como armar un proyecto, donde buscar los recursos, etc. Pronto voy a estar subiendo como hacer un ecommerce desde cero. 
        </p>
    </div>
</article> {% endblock %}


{% block title-heading %} Últimos posts{% endblock %} 
