{% extends 'index.html' %}
{% load static%} 

{% block title %} Tecnologia {% endblock %} 
{% block presentacion %} <div class="content">
    <header>
        <h1>TecnologÍa Y Sociedad</h1>
        
    </header>
    
    
</div>{% endblock %}
{% block partials %} <article>
    <div class="content">
       
        <p>En un mundo donde tenemos toda nuestra información al alcance de un click, estamos mas desinformados que nunca. Busco un espacio donde se luche contra la desinformación yse revalorice la verdad</p>
    
    </div>
</article> {% endblock %}


{% block title-heading %} Últimos posts{% endblock %} 
