{% extends 'index.html' %}
{% load static%} 

{% block title %}Experiencias y consejos {% endblock %} 
{% block presentacion %} <div class="content">
    <header>
        <h1>Experiencias y consejos</h1>
    </header>
    
    
</div>{% endblock %}
{% block partials %} <article>
    <div class="content">
        <p>En estos blogs voy a tratar temas que nos afectan a nivel emocional, consejos que me sirveron para afrontar un montón de momentos complejos.</p>
    </div>
</article> {% endblock %}


{% block title-heading %} Últimos posts{% endblock %} 
